<!DOCTYPE html>
<html><head><title>My Page</title></head>
<style>
  @media(min-width:700px)  {
    body{
      background-color:Red;

    }
    h1{
      color:green;
      font-size:20px;
      font-family:serif;
    }
  }
  @media(max-width:700px){
    h1{
      color:yellow;
    }
  body{
    background-color:Black;
  }
  p{
    color:white;
    font-size:15px;
  }
}
</style>
<body>
  <h1>{% block head %}{% endblock %}</h1>
  {% block body %}
  {% endblock %}
  </body>

</html>
